
<div class="cardContainer">
{{#each hbsData.Blogposts}}
    <div class="card">
        <h2 href="/blogposts/{{Blogpost.id}}">{{Blogpost.title}}</h2 >
        <p>{{Blogpost.content}}</p>
    </div>
{{/each}}
</div>

<div>
    <button id="add-post">+ New Post</button>
</div>