
<div class="card card-header">
<form class="row g-3" id="login">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="login-username" aria-describedby="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="login-password" placeholder="Password">
  </div>
  <div class="col-12 d-grid gap-2">
    <button id="loginBtn" type="submit" class="btn btn-warning">Login</button>
  </div>
  
</form>
</div>

<div>
    <small class="or-seperator">Do not have an account? Sign up instead!</small>
</div>


<div class="card card-header">
<form class="row g-3" id="signup">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="signup-username" aria-describedby="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="signup-password" placeholder="Password">
  </div>
  <div class="col-12 d-grid gap-2">
    <button id="signupBtn" type="submit" class="btn btn-warning">Sign Up</button>
  </div>
</form>
</div>
<script src="/js/login.js"></script>

