<h1>Login</h1>
<form id="login">
    <input type="text" id="login-username" placeholder="username">
    <input type="password" id="login-password" placeholder="password">
    <button>Login!</button>
    <a href="#signup-instead">Sign up Instead</a>
</form>


<div id="signup-instead">
    <h1>Sign Up</h1>
    <form id="signup">
        <input type="text" id="signup-username" placeholder="username">
        <input type="password" id="signup-password" placeholder="password">
        <button>Sign Up!</button>
    </form>
</div>
<script src="/js/login.js"></script>